<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Ten</th>
      <th>Diachi</th>
      <th>Gioitinh</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| 
      @id=user.id
      %>
      <tr>
        <td><%= user.Ten %></td>
        <td><%= user.DiaChi %></td>
        <td><%= user.GioiTinh %></td>
        <td><%= link_to 'HienThi', "Chitiet?id=#{@id}" %></td>
         <td><%= link_to 'Edit', "edit/#{@id}" %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
